#NavBox {
 -fx-background-color : #ffcac9;

}

.Tab{
 -fx-background-color : #ffcac9;

}

#notificationPanel
{
-fx-background-color : linear-gradient(#ffffff 25%, #ffcac9 50%,#ffffff 75%);
}

.label{

}

.date-picker{
-fx-background-color : #000000;

}

.Button{
	-fx-background-color : inherited;
}

