.Panel{
-fx-background-color: #ffff00;
-fx-font-size: 10.0;
-fx-text-fill: #00ffff;
}
.Button{
-fx-background-color: #ff0000;
-fx-text-fill: #00ffff;
}
.ParentPane{
-fx-background-color: #ffff00;
-fx-font-size: 10.0;
-fx-text-fill: #00ffff
}
.TopPane{
-fx-background-color: #000080;
}
.Label{
-fx-text-fill: #00ffff;
}